<html>
<head>
<body>
<center>
    <h1>Welcome to Fundoo App</h1><br>
    <a href="{% url 'signup' %}">Register</a><br>
    <a href="{% url 'log_me' %}">Login</a><br>
</center>


</body>
</head>
</html>





<!--<!DOCTYPE html>-->
<!--<link href="/static/style.css" rel="stylesheet" type="text/css"/>-->


<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Welcome to RestApi</title>-->
    <!--{% load staticfiles %}-->
<!--</head>-->
<!--<body>-->
<!--<center>-->
    <!--<h1 class="highlight">Welcome to RestApi</h1>-->

<!--&lt;!&ndash;<a href="http://127.0.0.1:8000/user/create/"></a>&ndash;&gt;-->
    <!--<div>-->
        <!--<a href="http://127.0.0.1:8000/user/create/"><h3>Create User</h3></a>-->
        <!--<a href="http://127.0.0.1:8000/user/obtain_token/"><h3>Login</h3></a>-->
    <!--</div>-->


<!--</center>-->

<!--</body>-->
<!--</html>-->
