<html>
<head>
<body>
<h1>Welcome {{user.first_name}}</h1>
</body>
</head>
</html>
<img src="https://s3.ap-south-1.amazonaws.com/fundoobucket/{{ user.email }}
" alt="no pic to display" height="200" width="300"/>

{% block content %}
<form method="post" enctype="multipart/form-data" action=/upload_profilenew/>{% csrf_token %}
  <input type="file" name="pic" />

<input type="text" name="email" required />

  <a href="{% url 'logout' %}">Logout</a><br>

<input type="submit" />

</form>
<form method="post" enctype="multipart/form-data" action=/delete_profile/>{% csrf_token %}
<input type="text" name="email" required />

<input type="submit" />

</form>
<script>
  localStorage.setItem('token',("{{token}}"));
</script>
{% endblock %}

